In [73]:
import pandas as pd

In [74]:
mydata = pd.read_csv('Bmi_male_female.csv')

In [75]:
mydata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [76]:
len(mydata)

500

In [77]:
mydata.shape # 500 sample, with 4 features

(500, 4)

In [78]:
mydata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [79]:
male_data = mydata[mydata["Gender"] != "Female"]

In [80]:
len(male_data)

245

In [81]:
len(mydata[mydata["Gender"] == "Female"])

255

In [82]:
255+245

500

In [83]:
cat4males = male_data[male_data["Index"] == 4]

In [84]:
len(cat4males)

59

In [85]:
cat4males.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
37   Male     144      80      4
47   Male     181     111      4
53   Male     172     105      4
54   Male     196     116      4

In [86]:
mydata

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

``data ``  
``- INPUT (3 features)``  
       ``- OUTPUT (CLASS 1, 2, 3, 4, 5)``

In [87]:
x_GHW = mydata.iloc[:, 0:3]

In [88]:
y_Index = mydata.iloc[:, 3]

### Encoding

In [89]:
x_GHW.Gender[x_GHW.Gender == 'Male'] = 0
x_GHW.Gender[x_GHW.Gender == 'Female'] = 1

C:\Users\shadowleaf\Anaconda3\envs\tflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\shadowleaf\Anaconda3\envs\tflow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [90]:
x_GHW

    Gender  Height  Weight
0        0     174      96
1        0     189      87
2        1     185     110
3        1     195     104
4        0     149      61
5        0     189     104
6        0     147      92
7        0     154     111
8        0     174      90
9        1     169     103
10       0     195      81
11       1     159      80
12       1     192     101
13       0     155      51
14       0     191      79
15       1     153     107
16       1     157     110
17       0     140     129
18       0     144     145
19       0     172     139
20       0     157     110
21       1     153     149
22       1     169      97
23       0     185     139
24       1     172      67
25       1     151      64
26       0     190      95
27       0     187      62
28       1     163     159
29       0     179     152
..     ...     ...     ...
470      0     147     142
471      0     154     112
472      1     178      65
473      0     195     153
474      1     167      79
475      0     183     131
476      1     164     142
477      0     167      64
478      1     151      55
479      1     147     107
480      1     155     115
481      1     172     108
482      1     142      86
483      0     146      85
484      1     188     115
485      0     173     111
486      1     160     109
487      0     187      80
488      0     198     136
489      1     179     150
490      1     164      59
491      1     146     147
492      1     198      50
493      1     170      53
494      0     152      98
495      1     150     153
496      1     184     121
497      1     141     136
498      0     150      95
499      0     173     131

[500 rows x 3 columns]

In [91]:
x_GHW.head(1)

  Gender  Height  Weight
0      0     174      96

In [92]:
X_Input = x_GHW.values.reshape(500, 3)

In [93]:
X_Input

array([[0, 174, 96],
       [0, 189, 87],
       [1, 185, 110],
       ...,
       [1, 141, 136],
       [0, 150, 95],
       [0, 173, 131]], dtype=object)

In [94]:
type(X_Input)

numpy.ndarray

In [95]:
Y_Target = y_Index.values.reshape(500, 1)

In [99]:
type(Y_Target)

numpy.ndarray

## Split the data into test and train, 70-30 ratio

In [153]:
x_train = X_Input[:350]
x_test = X_Input[350:]

y_train = Y_Target[:350]
y_test = Y_Target[350:]

In [154]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [159]:
CLASS = ['Extremely Weak', 'Weak', 'Normal', 'Overweight', 'Obesity', 'Extremely Obesity']

In [161]:
Index_Name = pd.Series(CLASS)

In [162]:
Index_Name

0       Extremely Weak
1                 Weak
2               Normal
3           Overweight
4              Obesity
5    Extremely Obesity
dtype: object

In [155]:
model = KNeighborsClassifier()

In [163]:
model.fit(x_train, y_train)

C:\Users\shadowleaf\Anaconda3\envs\tflow\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [164]:
model.score(x_test, y_test)

0.9133333333333333

In [165]:
test_data = [[0, 85, 76], [1, 170, 30]]

In [166]:
predicted = model.predict(test_data)

``a.reshape(row, col)``

0 - Extremely Weak  
1 - Weak  
2 - Normal  
3 - Overweight  
4 - Obesity  
5 - Extremely Obesity

In [167]:
i = 0
for e in predicted:
    print(test_data[i], CLASS[e])
    i = i + 1

[0, 85, 76] Extremely Obesity
[1, 170, 30] Extremely Weak

In [169]:
Yp = model.predict(x_test)

In [170]:
from sklearn.metrics import accuracy_score

In [171]:
accuracy_score(Yp, y_test)

0.9133333333333333

In [172]:
165/4

41.25