# Machine Learning - Introduction to Python

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import cv2

# Basics of Python

``list  -> []
tuple -> ()
dict  -> {} ``

tuples are non-mutables while list is mutable

In [26]:
A = [1, 2, 3, 4, 5, 6, 7]

In [28]:
A[0], A[1], A[-6], A[-7]

(1, 2, 2, 1)

In [24]:
A.append(2)

In [25]:
A

[1, 2, 3, 45, 6, 7, 2]

In [29]:
len(A)

7

In [30]:
A[len(A)-1]

7

## Colon Operator

In [37]:
A[0:4:1] # 0 to 4-1 with step of 1

[1, 2, 3, 4]

``1. :     -> start = 0 end = len-1 step = 1``  
``2. :m    -> start = 0 end = m-1   step = 1``  
``3. m:    -> start = m end = len-1 step = 1``  
``4. m:n   -> start = m end = n-1   step = 1``  
``5. m:n:l -> start = m end = n-1   step = l``  
``6. ::l   -> start = 0 end = len-1 step = l``

In [45]:
A[:3] # indices = 0, 1, 2

[1, 2, 3]

In [47]:
A[2:5] # indices = 2, 3, 4

[3, 4, 5]

In [48]:
A[::2] # indices = 0, 2, 4, 6

[1, 3, 5, 7]

In [49]:
A[::-1] # indices = 6, 5, 4, 3, 2, 1, 0

[7, 6, 5, 4, 3, 2, 1]

In [52]:
A[1:-2] # indices = 1, 2, 3, 4 , 1 to -3

[2, 3, 4, 5]

## Imports

``import pkg as p``

``import pkg import c3``

``from pkg.c3 import m3``  
``from pkg.c3 import m3 as m``

# Numpy

In [53]:
import numpy as np

In [54]:
A = np.array([1, 2, 3, 4, 5, 6])

In [55]:
type(A)

numpy.ndarray

In [56]:
A[:]

array([1, 2, 3, 4, 5, 6])

In [57]:
A.shape

(6,)

In [58]:
A.size # returns total number of elements

6

In [59]:
A[:-1]

array([1, 2, 3, 4, 5])

In [60]:
A[::-1]

array([6, 5, 4, 3, 2, 1])

In [76]:
A2D = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]])

In [77]:
A2D

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [78]:
A2D.shape

(3, 5)

In [79]:
A2D.size

15

In [80]:
len(A2D) # number of rows

3

axis = 0 is 1 row  
axis = 1 is 1 col

In [81]:
A2D[0, 0]

1

In [82]:
A2D[1, 1] # element of 1th row and 1th column

7

In [83]:
A2D[:]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [84]:
A2D[0:2, 0:2]

array([[1, 2],
       [6, 7]])

In [85]:
A2D[:, 1] # all the rows of the 1th column

array([ 2,  7, 12])

In [86]:
A2D

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [89]:
A2D[0:3:2, 0:3:2]

array([[ 1,  3],
       [11, 13]])

In [90]:
A2D[:, 0:3:2]

array([[ 1,  3],
       [ 6,  8],
       [11, 13]])

In [92]:
A2D[::-1, :]

array([[11, 12, 13, 14, 15],
       [ 6,  7,  8,  9, 10],
       [ 1,  2,  3,  4,  5]])

In [94]:
A2D.ndim # dimensions

2

In [99]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [100]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [101]:
a.reshape(3, 3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [103]:
a.reshape(-1, 1) # -1 is ignore the number of rows, the number of columns is 1

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [105]:
a.reshape(1, -1) # 1 rows and ignore the number of columns

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])