# Pandas

1. series - 1D Array
2. data_frame - 2D Array
3. panel - 3D Array
4. pannel4 - 4D Array

Series is List + Index

In [1]:
import pandas as pd

In [2]:
x = pd.Series([1, 2, 3, 4, 5, 6])

In [4]:
y = [1, 2, 3, 4, 5, 6]

In [5]:
type(x)

pandas.core.series.Series

In [6]:
type(y)

list

In [9]:
x

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
y

[1, 2, 3, 4, 5, 6]

In [12]:
x = pd.Series([1, 2, 3], index=["ONE", "TWO", "THREE"])

In [13]:
x.index

Index(['ONE', 'TWO', 'THREE'], dtype='object')

In [14]:
x.values

array([1, 2, 3], dtype=int64)

In [15]:
x

ONE      1
TWO      2
THREE    3
dtype: int64

``{key:value}`` key should be unique and value is mapped to that key

In [26]:
mydict = {"Name":["Satyajit", "Shubham Chutiya"], "Age":[19, 30]}

In [27]:
mydict['Name']

['Satyajit', 'Shubham Chutiya']

In [28]:
mydict['Age']

[19, 30]

In [29]:
mydict.keys()

dict_keys(['Name', 'Age'])

In [30]:
mydict.values()

dict_values([['Satyajit', 'Shubham Chutiya'], [19, 30]])

Data Frame = Dictenry +

In [31]:
mydf = pd.DataFrame(mydict)

In [32]:
mydf

              Name  Age
0         Satyajit   19
1  Shubham Chutiya   30

In [33]:
mydf.head()

              Name  Age
0         Satyajit   19
1  Shubham Chutiya   30

In [35]:
mydf.ndim

2

In [36]:
mydf.columns

Index(['Name', 'Age'], dtype='object')

``pd.read_excel()`` to read from excel file   
``pd.read_csv()`` to read from csv file